.header-container {
    height:535px;
    position:relative;
    background-color: #FBD062;
}
.header-container::before {
    height:712px;
    content:'';
    position: absolute;
    width: 100%;
    background-color: #FBD062;
    clip-path: polygon(0 100%, 100% 75%, 0 75%);
    z-index: -50;
}